.register-form{
  width: 700px;
  height: 500px;
  background-color: skyblue;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 5px 10px #4a3cb7
}

.icon-container{
  margin: auto;
  height: 40px;
  width: 120px;
}