.cheek{
  height: 300px;
  width: 900px;
  background: #E0E2DB;
  margin: 30px 0px;
  padding: 10px 15px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding: 40px 50px 0px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchage-btn{
  border: 2px solid rgba(98, 121, 223, 0.932);
  padding: 10px 20px 10px;
  border-radius: 10px;
  color: #000000; 
  background-color: #ACC8E5;
}

span{
  color:#2C0021;
}